.header{
    
    background-color: rgb(214, 221, 237, 38%);
    background-image: url(../Assets/Hero-bg.png);   
    background-position: center;
    background-repeat: no-repeat;

}
.main-text{
    color:#252432;
}
.btn{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
}
.btn:hover{
    background-color: #FF8147;
    transform: scale(1.1);
    cursor: pointer;
}
/* Navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 125px;
}
.logo{
    font-size: 34px;
    color: #4E47FF;
}
/* banner */
.banner{
   
    padding: 40px 300px 180px;
    text-align: center;
}
.banner-text{
    font-size: 65px;
    font-weight: bold;
}