.header{
    
    background-color: rgb(214, 221, 237, 38%);
    background-image: url(../Assets/Hero-bg.png);   
    background-position: center;
    background-repeat: no-repeat;

}
.main-text{
    color:#252432;
}
.btn{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
}
.btn:hover{
    background-color: #FF8147;
    transform: scale(1.1);
    cursor: pointer;
}
/* Navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 125px;
}
.logo{
    font-size: 34px;
    color: #4E47FF;
}
/* banner */
.banner{
   
    padding: 40px 300px 180px;
    text-align: center;
}
.banner-text{
    font-size: 65px;
    font-weight: bold;
}

/* main */
main{
    /* background-color: rgb(214, 221, 237, 38%); */
    max-height: 328px;
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 116px;
}

/* action */
.action{
    display: flex;
    justify-content: space-between;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}
.details{
    font-size: 24px;
    font-weight:normal;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 0;
    margin-bottom: 20px;
}
.action-left{
    margin-top: 0px;
    margin-right: 300px;
    margin-bottom: 62px;
    margin-left: 0;
    align-items: center;
}
.pic{
    border-radius: 48px;
    height: 330px;
}
/* Productive-section style */
.Productive{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding:80px 50px;
    max-width: 1140px;
}
.Productive-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.Productive-data{
    display: flex;
    justify-content: space-around;
}
.Productive-data p {
    color: rgba(78, 71, 255, 1);
    font-size:80px ;
    font-weight:bold ;
    margin: 0;
}
.Productive-data h5{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
/* Feedback Style */
.Feedback h3{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.card-container{
    display: flex;
    gap: 20px;
}
.card{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(242, 237, 237, 1);
    border-radius: 14px;
    width: 370px;
    height: 245px;
    padding: 30px;
}
.card form img{
    border-radius: 100px;
    margin: 0;
}
.card form{
    display: flex;
    gap:50px;
    margin: 0;
}
.card-title{
    font-size: 24px;
    font-weight: 500;
}
.card-subtitle{
    font-size: 16px;
    font-weight: 300;
}
.card-name{
    font-size: 16;
    color: rgba(117, 117, 117, 1);
}
.card-date{
    font-size: 16;
    color: rgba(179, 179, 179, 1);
}
/* GetIn-Touch Style */
.GetIn-Touch{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}
.GetIn-Touch-title{
    color: rgba(0, 0, 0, 1);
    font-size: 97px;
    font-weight: bold;
    align-items: center

}
.GetIn-Touch form input[type="text"],.GetIn-Touch form input[type="email"]{
    height: 60px;
    width:450px ;
    border-radius: 10px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
}
form textarea{
    height: 120px;
    width:450px ;
    border-radius: 10px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
}
form label{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.Get-in-btn{
     width:495px ;
     height:60px;
}
.GetIn-Touch-RightSide input::placeholder,
.GetIn-Touch-RightSide textarea::placeholder {
  font-size: 20px;
}